<div id="<%= dom_id producao %>">
<h1 style = 'text-align:center'>Confirme o Produto</h1>
  <div>
    <p>
      <strong>Nome:</strong>
      <%= producao.name %>
    </p>
    <p>
      <strong>Descrição:</strong>
      <%= producao.description %>
    </p>
    <p>
      <strong>Preço:</strong>
      <%= producao.price %>
    </p>
  </div>

</div>
