<h1>Produtos</h1>
<%= link_to 'Novo Produto', new_article_path%>
<ul>
    <%@article.each do |article|%>
        <li>
        <a href='<%=article_path(article)%>'>
         <%=article.name%>
         </a>
        </li>
    <%end%>
</ul>
